{
  "backend/**/*.ts": [
    "backend/node_modules/.bin/eslint --config backend/.eslintrc.json",
    "backend/node_modules/.bin/oxlint --config backend/.eslintrc.json"
  ],
  "frontend/**/*.{ts,tsx}": "frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json",
}
