{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "plugins": ["import"],
  "rules": {
    "import/extensions": ["error", "always"]
  },
  "ignorePatterns": ["dist/", "node_modules/"]
}
